$color-black: #000000;
$color-white: #fff;

$color-body: pink;
$color-body-medium: indianred;
$color-body-dark: darkred;

$color-grey-light: #aaa;
$color-grey-dark-3: #333;
$color-grey-dark-4: #444;
$color-grey-dark-5: #555;
$color-grey-dark-6: #666;
$color-grey-dark-7: #777;
$color-grey-dark-8: #888;
