@import "variables";

* {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(
      to right,
      rgba($color-black, 0.4),
      rgba($color-black, 0.6)
    );
  height: 100vh;
  margin: 0 0 2rem 0;
}

.display {
  grid-column: 1 / -1;
  background-color: $color-grey-dark-6;
  background-image: linear-gradient(to right, rgba(olivedrab, .3), rgba(olivedrab, .8));
  padding: 2rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: .8rem;
  border-left: .4rem solid darkolivegreen;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    height: 98%;
    width: .4rem;
    background-color: rgba($color-white, 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    align-self: left;
  }

  &__num {
    background-color: transparent;
    width: 100%;
    border: none;
    color: rgba($color-black, 0.6);
    font-weight: 600;
    font-family: "Tomorrow", sans-serif;
    font-size: 2.5rem;
    text-align: right;

    &::placeholder {
      color: inherit;
    }

    &:focus {
      background-color: transparent;
      outline: none;
    }
  }
}

.keypad {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-gap: 3px;
  background-color: $color-body;
  padding: 2rem;
  border-radius: .8rem;
  border-bottom: 2.5rem solid $color-body-medium;
  border-right: 3px solid $color-body-dark;
  box-shadow: 2.5rem 3px 4px rgba($color-black, 0.2);

  &:before {
    content: "";
    height: 98%;
    width: 3px;
    background-color: rgba($color-white, 0.5);
    position: absolute;
    bottom: 0px;
    left: 0px;
    align-self: start;
    border-radius: 50%;
  }
}

.btn {
  cursor: pointer;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 5rem;
  height: 3rem;
  background-color: $color-grey-light;
  margin: 0 auto;
  border: 2px solid $color-grey-dark-5;
  border-bottom: 2.4rem solid $color-grey-dark-6;
  border-radius: .8rem;
  transition: all 0.1s;
  box-shadow: 3px 0 3px rgba($color-black, 0.2);
  overflow: hidden;

  &:before {
    content: "";
    height: 95%;
    width: 3px;
    background-color: rgba($color-white, 0.5);
    position: absolute;
    top: 2px;
    left: 0px;
    align-self: start;
    border-radius: 50%;
  }

  &--orange {
    background-color: orange;
    border: 2px solid firebrick;
    border-bottom: 2.4rem solid firebrick;

    &:hover {
      background-color: tomato !important;
      border-color: firebrick !important;
    }
  }

  &--blue {
    background-color: mediumblue;
    border: 2px solid midnightblue;
    border-bottom: 2.4rem solid midnightblue;

    &:hover {
      background-color: dodgerblue !important;
      border-color: darkcyan !important;
    }
  }

  &--ac {
    background-color: tomato;
    border: 2px solid $color-body-dark;
    border-bottom: 2.4rem solid $color-body-dark;

    &:hover {
      background-color: orange !important;
      border-color: firebrick !important;
    }
  }

  &:hover &__num--ac {
    color: $color-grey-dark-4 !important;
  }

  &:hover {
    background-color: $color-grey-dark-8;
    border-color: $color-grey-dark-4;
  }

  &:active {
    border-bottom: 1.4rem solid $color-grey-dark-3;
    background-color: $color-grey-dark-7;
    transform: translateY(1.5rem);
  }

  &:hover &__num {
    color: $color-white;
  }

  &__num {
    font-family: sans-serif;
    font-size: 2rem;
    display: block;
    position: relative;
    z-index: 2;
    color: $color-grey-dark-4;
    font-weight: 800;

    &--ac {
      color: $color-white;
    }
  }
}
